.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover {
    border-radius: 10px;
    background-color: lightgray;
}

.sidebarRow > h4 {
    margin-left: 10px;
    font-weight: 600;
}

.sidebarRow  > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}